In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import pandas_datareader.data as web

c:\users\aakul\appdata\local\programs\python\python37\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
start = dt.datetime(2020,3,9)
end = dt.datetime(2020,4,10)

In [3]:
AAPL_df = web.DataReader('AAPL', 'yahoo', start, end)

AAPL_df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-03-09,278.089996,263.000000,263.750000,266.170013,71686200,266.170013
2020-03-10,286.440002,269.369995,277.140015,285.339996,71322500,285.339996
2020-03-11,281.220001,271.859985,277.390015,275.429993,63899700,275.429993
2020-03-12,270.000000,248.000000,255.940002,248.229996,104618500,248.229996
2020-03-13,279.920013,252.949997,264.890015,277.970001,92683000,277.970001

In [4]:
AAPL_df.reset_index(inplace = True)
AAPL_df.set_index('Date', inplace = True)
AAPL_df.to_csv('AAPL_Yahoo.csv')